@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

table {
  width: 100%;
  text-align: center;
  border-spacing: 0;
}

.sticky-column {
  position: sticky;
  left: 0;
  background: white;  
  z-index: 2;  
  min-width: 100px; 
  max-width: 100px; 
  text-align: center;
}

.sticky-column:nth-child(2) {
  left: 100px; 
  z-index: 3;
}

.sticky-column:nth-child(3) {
  left: 200px; 
  z-index: 4;
}

.sticky-header {
  position: sticky;
  top: 0;
  background: white;
  z-index: 5;
  border-right: 3px solid rgb(59 130 246);
}

.cfm-1200 {
  position: sticky;
  background: white;  
  left: 100px; 
  z-index: 4;
  min-width: 100px; 
  max-width: 100px; 
  text-align: center;
  border-spacing: 0px;
  border-right: 3px solid rgb(59 130 246);
}

.cfm-1400 {
  position: sticky;
  background: white; 
  left: 100px; 
  z-index: 4;
  min-width: 100px; 
  max-width: 100px; 
  text-align: center;
  border-right: 3px solid rgb(59 130 246);
}

.cfm-1550 {
  position: sticky;
  background: white;  
  left: 100px; 
  z-index: 4;
  min-width: 100px; 
  max-width: 100px; 
  text-align: center;
  border-right: 3px solid rgb(59 130 246); 
}

td:hover {
  background-color: #d1d5db; /* Tailwind's gray-300 */
  transition: background 0.2s ease-in-out;
}


.sticky-header:last-child,
.sticky-column:last-child {
  border-right: none; /* Remove right border for the last sticky element */
}



